#!/usr/bin/env bash

set -e

{{ $machine := (fromYaml (includeTemplate "machine.yaml.tmpl" .)) -}}
{{ $name := get $machine.package_manager "name" -}}
{{ $command := get $machine.package_manager "command" -}}
{{ $sudo := (or (get $machine.package_manager "sudo") (eq .chezmoi.username "root")) | ternary "sudo " "" -}}
{{ $install_args := get $machine.package_manager "install_args" -}}
{{ $update_args := get $machine.package_manager "update_args" -}}
{{ $pass_packages_via_stdin := get $machine.package_manager "pass_packages_via_stdin" -}}
{{ $install_script := get $machine.package_manager "install_script" -}}
{{ $env := get $machine.package_manager "env" -}}

{{ range $var, $value := $env }}
{{ printf "%s=%s" ($var | upper) ($value | quote) }}
{{ end }}

{{ template "script_header.tmpl" }}

{{ if eq $name "none" -}}
echo "WARN: package_manager set to 'none'; nothing to do."
{{ else -}}
if [ ! "$(command -v '{{- $command -}}')" ]; then
{{- if not (empty $install_script) }}
    echo "Installing {{ $name }} ..."
{{ $install_script | indent 4 -}}
{{ else }}
    echo "ERROR: Unable to find package manager command '{{- $command -}}'"
    exit 1
{{- end }}
{{ if not (empty $update_args) -}}
else
    echo "Updating {{ $name }} ..."
    {{ printf "%s%s %s" $sudo $command $update_args }}
{{ end -}}
fi

{{ if $pass_packages_via_stdin -}}
{{   printf "%s%s %s" $sudo $command $install_args }} << EOF
{{   range $machine.packages }}
{{-    . }}
{{   end -}}
EOF
{{ else -}}
{{   printf "%s%s %s %s" $sudo $command $install_args (join " " $machine.packages) -}}
{{ end -}}
{{ end }}
{{ template "script_footer.tmpl" }}
