#!/usr/bin/env bash

set -e

{{ template "script_header.tmpl" }}
{{ $machine := (fromYaml (includeTemplate "machine.yaml.tmpl" .)) -}}
{{ $packages := list -}}
{{ range $packageManagerName, $packageData := $machine.packages -}}
{{   if (hasKey $.package_manager $packageManagerName) -}}
{{     $packageManagerOptions := mergeOverwrite (get $.package_manager "default") (get $.package_manager $packageManagerName) -}}
{{     $sudo := (or $packageManagerOptions.sudo (eq $.chezmoi.username "root")) | ternary "sudo " "" -}}
{{     if (not (empty $packageManagerOptions.list_template)) -}}
{{       $packages = concat $packages (fromYaml (includeTemplate $packageManagerOptions.list_template $packageData)) -}}
{{     else -}}
{{       range $packageName, $install := $packageData -}}
{{         if $install -}}
{{           $packages append $packages $packageName -}}
{{         end -}}
{{       end -}}
{{    end -}}

####
# {{ $packageManagerName }}
####
{{      range $var, $value := $packageManagerOptions.env -}}
{{        printf "%s=%s" ($var | upper) ($value | quote) }}
{{      end }}

# Check for Package Manager Binary 
if [ ! "$(command -v '{{- $packageManagerOptions.command -}}')" ]; then
{{-     if not (empty $packageManagerOptions.install_script) }}
    echo "Installing {{ $packageManagerName }} ..."
{{        $packageManagerOptions.install_script | indent 4 -}}
{{      else }}
    echo "ERROR: Unable to find package manager command '{{- $packageManagerOptions.command -}}'"
    exit 1
{{-     end }}
{{      if not (empty $packageManagerOptions.update_args) -}}
else
    # Update Package Manager/Cache
    echo "Updating {{ $packageManagerName }} ..."
    {{    printf "%s%s %s" $sudo $packageManagerOptions.command $packageManagerOptions.update_args -}}
{{      end }}
fi

# Execute Install Command
{{      if $packageManagerOptions.pass_packages_via_stdin -}}
{{        printf "%s%s %s" $sudo $packageManagerOptions.command $packageManagerOptions.install_args }} << EOF
{{        range $packages }}
{{-         . }}
{{        end -}}
EOF
{{      else -}}
{{        printf "%s%s %s %s" $sudo $packageManagerOptions.command $packageManagerOptions.install_args (join " " $packages) -}}
{{      end -}}
{{  end -}}
{{ end }}
{{ template "script_footer.tmpl" }}
