{{- /* Checks if running interactively */ -}}
{{- $interactive := stdinIsATTY -}}
{{- $tags := promptStringOnce  . "tags" "Tags to add to this configuration (optional)" -}}
{{- $tagList := $tags | trim | replace " " "," | splitList "," | uniq | compact -}}

data:
  tags: {{ $tags | trim | replace " " "," | quote }}
  tagList: {{- toYaml $tagList | nindent 4 }}

# hooks:
#     init:
#         post:
#             command: "echo"
#             args:
#                 - "post-init-hook"

#     apply:
#         pre:
#             command: "echo"
#             args:
#                 - "pre-apply-hook"
