{{- /* Checks if running interactively */ -}}
{{- $interactive := stdinIsATTY -}}
{{- $availableTags := list "Work" "Personal" -}}
{{- $tags := promptMultichoice  "Select the tags you would like to apply to this machine (optional)"
    $availableTags (list)
-}}

data:
  tags: {{ $tags | toYaml | lower | nindent 4 }}

# hooks:
#     init:
#         post:
#             command: "echo"
#             args:
#                 - "post-init-hook"

#     apply:
#         pre:
#             command: "echo"
#             args:
#                 - "pre-apply-hook"
