---
{{ $archId := .chezmoi.os -}}
{{- $archData := get .machine.arch "default" -}}
{{- $hostData := get .machine.host "default" -}}
{{- $profileData := get .machine.arch "default" -}}

{{- if eq $archId "linux" -}}
{{-   $archId = .chezmoi.osRelease.id -}}
{{- end -}}

{{- if (hasKey .machine.arch $archId) -}}
{{-   $archData = mergeOverwrite $archData (get .machine.arch $archId) -}}
{{- end -}}

{{- range $profileName := .active_profiles -}}
{{-   if (hasKey $.profiles (lower $profileName)) -}}
{{-     with (get $.profiles (lower $profileName)) -}}
{{-       $profileData = mergeOverwrite $profileData (dig "machine" "arch" $archId dict .) -}}
{{-     end -}}
{{    end -}}
{{- end -}}

{{- if (hasKey .machine.host .chezmoi.hostname) -}}
{{-     $hostData = mergeOverwrite $hostData (get .machine.host .chezmoi.hostname) -}}
{{- end -}}

{{- $machineData := mergeOverwrite $archData $profileData $hostData -}}
{{ toYaml $machineData }}