---
{{ $archId := .chezmoi.os -}}
{{- $archData := get .machine.arch "default" -}}
{{- $hostData := get .machine.host "default" -}}
{{- $tagData := get .machine.arch "default" -}}

{{- if eq $archId "linux" -}}
{{-   $archId = .chezmoi.osRelease.id -}}
{{- end -}}

{{- if (hasKey .machine.arch $archId) -}}
{{-   $archData = mergeOverwrite $archData (get .machine.arch $archId) -}}
{{- end -}}

{{- range $tagName := .tags -}}
{{-   if (hasKey $.tag $tagName) -}}
{{-     with (get $.tag $tagName) -}}
{{-       $tagData = mergeOverwrite $tagData (dig "machine" "arch" $archId dict .) -}}
{{-     end -}}
{{    end -}}
{{- end -}}

{{- if (hasKey .machine.host .chezmoi.hostname) -}}
{{-     $hostData = mergeOverwrite $hostData (get .machine.host .chezmoi.hostname) -}}
{{- end -}}

{{- $machineData := mergeOverwrite $archData $tagData $hostData -}}
{{ toYaml $machineData }}